.site-logo {
    width: 5rem;
}

.navbar-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.2rem;
}

.navbar-left-section {
    margin-right: 2rem;
}

.navbar-center-section {
    width: 80%;
    margin-right: 2rem;
}

.navbar-right-section {
    margin-left: auto;
}