.site-logo {
    width: 100px;
}

.navbar-container {
    display: flex;
    align-items: center;
}

.navbar-left-section {
    width: 2rem;
}

.navbar-center-section {
    width: 40%;
    margin: 0 auto;
}

.navbar-right-section {
    margin-left: auto;
}