.post-container {
    display: flex;
    padding: 1rem;
    border: solid 1px #c4c4c4;
    margin-bottom: 1rem;
}
.upvote-section {
    width: 1rem;
    height: 4rem;
    color: gray;
}
.content-section {

}
.post-headers {

}
.post-content {

}
.post-actions {

}