.post-container {
    display: flex;
    padding: 0;
    border: solid 1px #c4c4c4;
    margin-bottom: 1rem;
    border-radius: 0.3rem;

    &:hover {
        background-color: rgb(238, 238, 238);
    }
}
.upvote-section {
    width: 2rem;
    background-color: rgb(235, 235, 235);
    border-right: 1px solid #c4c4c4;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    align-items: center;

    img {
        width: 2rem;
        margin: 0.2rem 0;
        cursor: pointer;
    }

    span {
        font-weight: bold;
    }
}

.content-section {
    padding: 0.5rem;
    display: flex;
    flex-direction: column;

}

.navigation-allowed {
    cursor: pointer;
}

.post-headers {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 0.5rem;
    margin-bottom: 0rem;
    a {
        font-weight: bold;
    }
}

.post-content {
    width: 100%;

    p {
        color: rgb(110, 110, 110);
        font-size: 1.2rem;
        font-weight: 400;
        margin: 0;
        margin-bottom: 0.4rem;
    }

    h3 {
        font-size: 1.5rem;
        font-weight: 600;
        margin-top: auto;
        margin-bottom: 0.6rem;
        color: rgb(110, 110, 110);
    }
}

.post-actions {
    display: flex;
}

.activated {
    background-color:rgb(132, 0, 255);
    border-radius: 0.2rem;
}

.deactivated {
    background-color: transparent;
}